@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-destructive {
    @apply bg-[#ed145b];
  }
}
.container {
  max-width: 1280px;
  margin: auto;
}
.bg-warm {
  background-color: #fff0e5;
}
